parameters:
    level: 9
    paths:
        - src
        - tests
        - public
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#(Class|Instantiated class|Method .* has invalid return type|Call to .*|Access to .*) (Illuminate|Doctrine).*#'
        - '#Argument .* of .* method .* expects (Illuminate|Doctrine).*#'
