parameters:
    level: 9
    paths:
        - src
        - tests
        - public
    scanDirectories:
        - ../plugins/quill-container/src
        - ../plugins/quill-cache/src
        - ../plugins/quill-testing/src
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#(Class|Instantiated class|Method .* has invalid return type|Call to .*|Access to .*) (Illuminate|Doctrine).*#'
        - '#Argument .* of .* method .* expects (Illuminate|Doctrine).*#'
